.main-app {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 15rem auto;
  grid-template-rows: 5rem auto;
}

.player {
  grid-column-start: 1;
  grid-column-end: 3;
}

.header h1 {
  transform: rotate(-90deg) translate(-10rem, 0);
}
